// Tipografía
$hind: 'Hind';
$open-sans: 'Open Sans', sans-serif;

//colores
$verde: #819535;
$blanco: #fff;
$gris-oscuro: #575757;
$gris-claro: #e5e5e4;
$orange:#ff8f00;
$white:#fff;
$grey-light:#848286;
$grey-dark:#292929;
$font-ligth:#fdfefd;
$light-blue:#00c9ed;
$orange:#ff8f00;
$ddw-color:#922716;
$post-color:#819535;
$animacion-color:#cc6220;
$grey-lines:#b2b2b2;

